$grey: rgb(206, 206, 206); // TODO get from theme?

.marker {
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.right-marker {
  background-color: black;
}

.wrong-marker {
  background-color: white;
}

.none-marker {
  background-color: transparent;
}

mat-grid-tile {
  border: 1px solid $grey;
  border-radius: 4px;
}

.checked mat-grid-tile {
  background-color: $grey;
}