<div class="wrapper" fxLayout="row">

  <mat-card fxLayout="column" fxLayoutGap="8px">
    <div *ngFor="let row of rows">
      <app-mm-row
        [row]="row"
        [colourblindMode]="settings.isColourblindMode">
      </app-mm-row> 
    </div>

    <mat-card-footer class="guess-footer">
      <mat-divider></mat-divider>
      <div [ngClass]="{'hide-footer': !showAnswer}" style="padding: 10px 0px">
        <app-mm-row 
          [row]="answerRow"
          [colourblindMode]="settings.isColourblindMode">
        </app-mm-row> 
      </div>
    </mat-card-footer>
  </mat-card>



  <div class="side-wrapper" fxFlex fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">

    <mat-card fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">

      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <button mat-icon-button color="primary" (click)="openHelp()">
          <mat-icon>help</mat-icon>
        </button>
    
        <button mat-icon-button color="primary" (click)="openSettings()">
          <mat-icon>settings</mat-icon>
        </button>
      </div>

      <mat-grid-list cols="3" rowHeight="50px" style="width: 150px">
        <mat-grid-tile *ngFor="let colour of colourChoices">
          <button mat-button (click)="enterGuess(colour)">
            <app-mm-icon [colour]="colour" [colourblindMode]="settings.isColourblindMode"></app-mm-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <button mat-raised-button color="primary" (click)="removeGuess()">
          Remove
        </button>
    
        <button mat-raised-button color="primary" (click)="checkGuess()">
          Check
        </button>
      </div>

      <div *ngIf="isEnd" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="reset()">
          New game
        </button>
      </div>
    
    </mat-card>

  </div>

</div>



