<div fxLayout="row" fxLayoutGap="8px">

  <div fxLayout="row" fxLayoutAlign="space-around center" class="row" [ngClass]="{'done-row': row.checked}">
    <div *ngFor="let idx of idxs" class="choice" fxLayoutAlign="center center">
      <app-mm-icon *ngIf="row.guesses.length > idx" [colour]="row.guesses[idx]" [colourblindMode]="colourblindMode"></app-mm-icon>
    </div>
  </div>
  
  <div fxLayoutAlign="center center" class="row-check" [ngClass]="{'done-row-check': row.checked}">
    <app-mm-check [row]="row"></app-mm-check>
  </div>
  

</div>

