
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Import theme
@import './theme.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define palettes
$alluvial-gold-primary: mat.define-palette($theme-primary);
$alluvial-gold-accent: mat.define-palette($theme-accent);

// The warn palette is optional (defaults to red).
$alluvial-gold-warn: mat.define-palette($theme-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$alluvial-gold-theme: mat.define-light-theme((
  color: (
    primary: $alluvial-gold-primary,
    accent: $alluvial-gold-accent,
    warn: $alluvial-gold-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($alluvial-gold-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
