// Primary
$theme-primary: (
    50 : #ece5e5,
    100 : #d0bebe,
    200 : #b19393,
    300 : #926767,
    400 : #7a4747,
    500 : #632626,
    600 : #5b2222,
    700 : #511c1c,
    800 : #471717,
    900 : #350d0d,
    A100 : #ff7171,
    A200 : #ff3e3e,
    A400 : #ff0b0b,
    A700 : #f10000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$theme-accent: (
    50 : #fbf9f2,
    100 : #f4f0e0,
    200 : #ede6cb,
    300 : #e5dbb6,
    400 : #e0d4a6,
    500 : #dacc96,
    600 : #d6c78e,
    700 : #d0c083,
    800 : #cbb979,
    900 : #c2ad68,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff4cf,
    A700 : #ffeeb6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$theme-warn: (
    50 : #f7f1ed,
    100 : #ecdcd1,
    200 : #dfc5b3,
    300 : #d2ae95,
    400 : #c99c7e,
    500 : #bf8b67,
    600 : #b9835f,
    700 : #b17854,
    800 : #a96e4a,
    900 : #9b5b39,
    A100 : #fff0e9,
    A200 : #ffceb6,
    A400 : #ffac83,
    A700 : #ff9b69,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


